/xharmi00.dvi
/xharmi00.log
/xharmi00.blg
/xharmi00.bbl
/xharmi00.toc
/xharmi00.aux
/xharmi00.out
/xharmi00.lof
/xharmi00.ptc
/xharmi00.fdb_latexmk
/xharmi00.fls
/xharmi00.synctex.gz
/xharmi00.tar.gz
/*~
